
<div class="container-fluid col-md-10 col-md-offset-1" id="postbody">

<h2 class="text-center">City Location</h2>

<% @citylocations.each do |c| %>

<div class = "row-fluid">

<h4> Airport: <%= c.airport %></h4>
<h4> Month: <%= c.month %> </h4>
<h4> Max price: <%= c.maxprice %> </h4>
<h4> Min price: <%= c.minprice %> </h4>
<h4> Price amount: <%= c.priceamount %> </h4>
<h4> Origin: <%= c.origin %> </h4>
<h4> Destination: <%= c.destination %> </h4>
<h4> Length of stay: <%= c.lengthofstay %> </h4>
<h4> Max fare: <%= c.maxfare %> </h4>



</div>


<% end %>

<br></br>
</div>
<div class="footer">
	<%= link_to 'NEW CITY LOCATION', new_citylocation_path, class: "btn btn-primary btn-block" %>
</div>
<br></br>





